<form id="login" method="post" class="login-form">
    <h1>LOGIN</h1>
    <div class="txtb">
        <input type="email" name="email" value="" placeholder="Email">       
    </div>
    <div class="txtb">
        <input type="password" name="password" value="" placeholder="Contraseña">
    </div>
    <input type="submit" value="Acceder" class="logbtn">
</form>

<script type="text/javascript">
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)
  formLogin.addEventListener('submit', event => {
    event.preventDefault()
    fetch('api/v1/usuarios/login', {
      method: 'POST',
      body: formData
    })
    .then(res => res.json())
    .then(data => {
      localStorage.setItem('token', data.token)
    })
  })
</script>